@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d5e1ef;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  height: 498px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  font-weight: 400;
  padding-inline: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: hsl(216, 15%, 48%);
}

@media only screen and (max-width: 375px) {
  .container {
    margin: 20px;
    width: 280px;
    height: 450px;
  }

  img {
    width: 240px;
    height: 240px;
  }
}
